<div>
    <h1>REGISTRO de usuario</h1>

    <form action="http://localhost:8080/api/users" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" name="name" placeholder="Nombre y apellido"><br />
        <input type="email" name="email" placeholder="Correo electrónico"><br />
        <input type="password" name="password"><br /><br />
        <button type="submit">Registrar</button>
    </form>
</div>