<h1>Perfil de usuario</h1>

<h2>Usuario: {{user.username}}</h2>
<h3>Rol: {{user.role}}</h3>

<form action="/api/sessions/logout" method="get">
    <button type="submit" class="btn btn-success">Salir</button>
</form>