{{!--
    Este es nuestro primer formulario de login, muy sencillo pero que permite
    enviar usuario y clave a un endpoint vía POST para validar
--}}
<form action="/api/sessions/login" method="post" style="margin-top: 24px;">
    <input type="text" name="user" class="form-control" placeholder="Nombre" style="width: 300px;"><br />
    <input type="password" name="pass" class="form-control" style="width: 300px;"><br />
    <button type="submit" class="btn btn-success">Ingresar</button>
</form>